### Exemplo tabela unicode

In [18]:
chr(79) + chr(108) + chr(225)

'Olá'

### Input

In [19]:
nome = input()

In [20]:
nome = input('Escreva seu nome: ')

In [25]:
def coletaNome():
   nome = input('Escreva seu nome: ') 
   return print("Olá, " + nome + "! Bem-vindo!")



## chamando função

nome_user = coletaNome()

Olá, Miguel! Bem-vindo!

In [28]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))

type(ano_entrada)

int

In [29]:
nota = float(input('A nota de entrada foi:  '))

type(nota)

float

In [30]:

print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota}')

Ano de entrada 2016 - nota do teste de ingresso 7.6

In [31]:
nome = "Ana Maria"
idade = 17
print(f"O nome da aluna é {nome} e sua idade é {idade} anos.")

O nome da aluna é Ana Maria e sua idade é 17 anos.

Tipo de variável	Palavra-chave
string	%s
inteiro	%d
float	%f
caractere	%c

In [32]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: %s' %(nome_aluno))

Nome do aluno: Fabricio Daniel

In [33]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.

## quebra de linha

In [34]:
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

Estudar é um esforço constante,
É como cultivar uma planta,
Precisamos de dedicação e paciência,
Para ver o fruto amadurecer.

Coleta e amostragem de dados
Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.
Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.
Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [37]:
def coletaDadosPessoais():
   nome = input('Escreva seu nome: ') 
   idade = int(input('Sua idade: ')) 
   altura = float(input('Sua altura (em metros): ')).__round__(2)

   return print("Olá, %s, você tem %d anos e %f metros de altura." %(nome, idade, altura))



## chamando função

teste1 = coletaDadosPessoais()

Olá, Miguel, vocÊ tem 26 anos e 1.850000 metros de altura.